{% extends "base.html" %}

{% block title %}Crear Ítem{% endblock %}

{% block content %}
    <h2 class="text-center">Crear un Nuevo Ítem</h2>

    <form action="{{ url_for('new_item') }}" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" rows="4"></textarea>

        <button type="submit">Guardar</button>
    </form>
{% endblock %}
