# Dependencias básicas para un servicio FastAPI
fastapi
uvicorn

# Librerías para base de datos PostgreSQL
psycopg2-binary
sqlalchemy

# Librerías para base de datos MongoDB
motor
pymongo

# Librería para Redis
redis
