# Dependencias básicas para FastAPI
fastapi
uvicorn

# Librerías comunes para bases de datos SQL (PostgreSQL)
psycopg2-binary
sqlalchemy

# Librerías para MongoDB (asíncronas)
motor
pymongo

# Librería para Redis
redis

# Para recibir archivos multipart/form-data en FastAPI
python-multipart

# Para validaciones y serialización extra (opcional)
pydantic[email]

# Para entornos de desarrollo (opcional)
python-dotenv
