# Dependencias básicas para un servicio FastAPI
fastapi
uvicorn

# Librerías para bases de datos relacionales (PostgreSQL ejemplo)
psycopg2-binary
sqlalchemy

# Librerías para bases de datos NoSQL (MongoDB ejemplo)
motor
pymongo

# Librería para Redis (cache, cola, etc.)
redis

# Otras utilidades que podrían ser útiles (opcional)
python-multipart  # Para manejo de formularios y archivos en FastAPI
